header h1{
  font-family:magra, bold;
  font-size: 150px;
}

.owl-carousel{
  width: 50px;
}

img{
  width: 100px;
}

.owl-nav{
  color:red;
}

.col-xs-4 {
    border: 2px solid #615F5D;
    border-radius: 10%;
}
